/* Main Lay out */

body {
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  /* background-image: url("background.jpg"); */
}

.price-title {
  padding-bottom: 3%;
}



/* color */

p {
  color: black;
  font-weight: 400;
}

.block {
  color: black;
}

/* .title {
  color: white;
}

.block {
  color: white;
}

.navbar {
  color: white ;
  background-color: transparent ;
} */

/* Image lay out */

.imageCours {
  border:2px solid rgba(0, 0, 0, 0);
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
}